
body {
    background-image: url("images/Landing_Page_Background.jpg");
    background-size: cover;
   
}

header {
    /* font-size: 60px; */
    text-align: center;
    font-family: 'Lobster', cursive;
    justify-content: center;
}

.center-align {
    justify-content: center;
    display: flex;
}

h1 {
    font-size: 90px;
}

h2 {
    margin-top: 165px;
    border-radius: 40px;
    text-align: center;
    justify-content:center;
    border-spacing: 15px;
    width: 900px;
    display: flex;
} 

.z-depth-5 {
       font-size: 32px;
      }

.card-content {
    background-color: #e5e5e5;
    border-radius: 40px;
    border: solid;
    margin-top: 25px;
    text-align: center;
    font-size: 25px;
    width: 500px;
    display: inline-block;
    box-shadow: 10px 9px #ECC1C8;
}

.btn-large{
    background-color: #EBEBEB;
}

#logo {
    width: 150px;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#logo {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: inline;
}

.foot-box {
    display: flex;
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
}
 