body {
    background-image: url("images/Landing_Page_Background.jpg");
    background-size: cover;
}

#logo {
    width: 150px;
}

.LandingPage {
    color: green;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
 